<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "mybatis.emp.mapper.EmpMapper">
  
  <select id="selectAll" resultType = "map">
	  SELECT e.empno
	        ,e.ename
	        ,e.job
	        ,e.mgr
	        ,e.hiredate
	        ,e.comm
	        ,e.sal
	        ,e.deptno
        FROM EMP e
  </select>
  
  <select id="selectEmp" parameterType = "int" resultType = "map">
	  SELECT e.empno
	        ,e.ename
	        ,e.job
	        ,e.mgr
	        ,e.hiredate
	        ,e.comm
	        ,e.sal
	        ,e.deptno
        FROM EMP e
       WHERE e.empno = #{value}
  </select>
  
  <!--  EMP 테이블에 직원 정보 1건 입력  -->
  <insert id="insert"  parameterType="map">
	  INSERT INTO EMP e
		  ( e.empno
		   ,e.ename
		   ,e.hiredate
		   ,e.job
		  )
	  VALUES
	    (  #{empno}
	     , #{ename}
	     , SYSDATE
	     , #{job}
	     )
  </insert>
  
  <update id="update" parameterType="map">
	 UPDATE EMP e
	    SET  e.ename = #{ENAME}
	       , e.job = #{JOB}
	       , e.mgr = #{MGR}
	       , e.hiredate = #{HIREDATE}
	       , e.sal = #{SAL}
	       , e.comm = #{COMM}
	       , e.deptno = #{DEPTNO}
      WHERE e.empno = #{EMPNO}
  </update>
  
  <!--  EMP 테이블의 직원 정보 1건을 삭제하는 쿼리 -->
  <delete id="delete" parameterType = "int">
	  DELETE EMP e
	   WHERE e.empno = #{value}
  </delete>

  <!-- 윗쪽 : Map 으로 프로퍼티 설정하는 쿼리 -->
  
  <!-- 아래 : Emp 클래스토 프로퍼티 설정하는 쿼리 -->
  <!-- mybatis-config.xml 파일에 typeAlias 등록 필요함 -->
  	<select id="selectAll2" resultType="Emp">
  	    SELECT e.empno
	        ,e.ename
	        ,e.job
	        ,e.mgr
	        ,e.hiredate
	        ,e.comm
	        ,e.sal
	        ,e.deptno
        FROM EMP e
    </select>
  
	<select id="selectEmp2" resultType="Emp" parameterType= "Emp">
	  SELECT e.empno
	        ,e.ename
	        ,e.job
	        ,e.mgr
	        ,e.hiredate
	        ,e.comm
	        ,e.sal
	        ,e.deptno
        FROM EMP e
       WHERE e.empno = #{empno}
    </select>
  
    <insert id="insert2" parameterType= "Emp">
     INSERT INTO EMP e
		  ( e.empno
		   ,e.ename
		   ,e.hiredate
		   ,e.job
		  )
	  VALUES
	    (  #{empno}
	     , #{ename}
	     , SYSDATE
	     , #{job}
	     )
    </insert>
   
    <update id="Update2" parameterType ="Emp">
     UPDATE EMP e
	    SET  e.ename = #{ename}
	       , e.job = #{job}
	       , e.mgr = #{mgr}
	       , e.hiredate = TO_DATE(#{hiredate}, 'YYYY-MM-DD HH:24:MI:SS)
	       , e.sal = #{sal}
	       , e.comm = #{comm}
	       , e.deptno = #{deptno}
      WHERE e.empno = #{empno} 
    </update>

    <delete id="Delete2" parameterType = "Emp">
    DELETE EMP e
	   WHERE e.empno = #{empno}
    </delete>   
     
</mapper>

 



